#popup_wrapper {
	padding: 1em;
	visibility: hidden;
}

#popup_wrapper > div, select, label {
	margin-bottom: 1em;
	color: #222;
	font-family: 'Helvetica', sans-serif;
	font-size: 12pt;
}

#profileButton {
	margin-top: 1em;
	margin-bottom: 0.5em;
	padding: 0.7em;
	width: 60%;
	background-color: rgba(0,0,0,0.5);
	border-radius: 20px;
	color: white;
	text-transform: uppercase;
}

#profileButton:hover {
	background-color: rgba(0,0,0,0.9);
}

#total_wrapper {
	position: fixed;
	padding: 1em;
	background-image: linear-gradient(to bottom, #CEDCE7, #596a72);
	bottom: 0%;
	left: 0;
	z-index: 3000;
	width: 300px;
	text-align: center;
}

#total_wrapper {
	text-align: center;
	font-family: 'Helvetica', sans-serif;
	color: white;
	margin: 0.5em;
	font-weight: 400;
	border-radius: 20px;
}

#programs_options {
	visibility: hidden;
}

#profiler_title {
	margin: 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 0.5em;
	font-size: 14pt;
}

select:focus, input:focus, button:focus {
	outline:none;
}

select {
font-size: 12pt;
}

